@media(min-width: 768px){
  .news-input{
    width: 50%;
  }
}

body::before {
  display: block;
  content: '';
  height: 30px
}

body::after {
  display: block;
  content: '';
  height: 30px
}

.icon {
  height: 25px !important; 
  width: 25px !important;
}

.icon_2 {
  height: 70px !important; 
  width: 90px !important;
}

.icon_3 {
  height: 40px !important; 
  width: 70px !important;
}

.link {
  text-decoration: none;
  color:rgb(170, 168, 168);
}
